body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 50%;
  height: 470px;
  background-color: rgb(227, 231, 255);
  border-radius: 30px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.display {
  width: 90%;
  background-color: rgb(251, 248, 245);
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 1px solid gray;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}

.display-top {
  font-size: 25px;
  min-height: 30px;
}

.display-main {
  font-size: 50px;
  min-height: 58px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.btn {
  width: 20%;
  height: 50px;
  background-color: rgb(251, 248, 245);
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.top-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.btn-clear,
.btn-delete {
  width: 40%;
  text-align: center;
  font-size: 40px;
  border: 1px solid gray;
  border-radius: 10px;
}

.btn-clear {
  background-color: rgb(249, 255, 166);
}

.btn-delete {
  background-color: rgb(255, 205, 205);
}

.btn-add,
.btn-sub,
.btn-mul,
.btn-div,
.btn-equal,
.btn-dot {
  background-color: rgb(216, 213, 213);
}
